*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    /* font-family: sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    max-height: 100vh;
     overflow: hidden;
    
   
}
.main1{
    min-height: 100vh;
    background: url(./img.jpg)  center/cover    no-repeat;
     
    position: relative;
    /* animation: fade 1s infinite  linear;   */
    
    
    

         
     
}
@keyframes fade {
    from{

    }
    to{
        transform: scale(1)
    }
    
}
.main{
    /* margin-top: 20px; */
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* background-color: #FDE2EB; */
    background-color: transparent;
    position: fixed;
    right: 0;
    bottom: 13%;
    left: 59%;
     
    
}
.nav{
   padding-top: 16px;
   max-height: 70px;
   color: rgb(235,159,107);
}
.name-song{
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    font-weight: 500;
    display: block;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical    ;
    padding-right: 4px;
    padding-left: 4px;
}
.frist{
    /* background-color: rgba(255, 255, 255,0.5); */
    background-color: transparent;

}
.song-cd{
    clip-path: circle(86px);
    opacity: 0.98                               ;
    
    
}
.song-cd-img{
    display: inline-block;
    height:200px;
    background-position: left;
     
     
}

/* button */
.btn-action{
    display: flex;
    justify-content: space-evenly;
     padding-top: 20px;

}
.btn-action-item{
    width: 50px;
     
    height: 50px;
    font-size: 20px;
    color: #7E79AC ;
    cursor: pointer;   
    -webkit-tap-highlight-color: transparent;

}
.btn-action-item i{
    line-height: 50px;
    text-align: center;
}
.btn-action-item:hover{
    color: #FF8323;
}
 
/* .btn-action-item:nth-child(3){
    background-color: #EE2360;
    clip-path: circle();
    color: white;
    font-size: 30px;
} */
.active{
    color: #FF8323;
}
.progress {
    width: 200px;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: #e992ac;
    cursor: pointer;
  }




.audio-volume{
    -webkit-appearance: none;
    height: 6px;
    background-color: #d3d3d3;
    opacity: 0.8;
}
.audio-volume::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height:12px;
    border-radius: 50%;
    background-color: #e992ac;
    cursor: pointer;
}
 
/* Second */


.second{
    margin-top: 16px;
    /* background-color: #e992ac; */
    background-color: transparent;
    max-width :300px;
    max-height: 300px;
    overflow: auto;
    /* display: none; */
    position: absolute;
    top: -55%;
    left: -314%;
    
}
.second::-webkit-scrollbar{
    display: none;
}
.song-list-item{
    display: flex;
    /* background-color: #ccc; */
    background-color: transparent;

    margin-bottom: 6px;
    cursor: pointer;
    padding-top: 16px;
    
}
.song-list-item.active .song-content{
    color: #FF8323;
    font-weight: 500;

}
.song-img{
    margin-top:2px;
     margin-left: 6px;
     
     
}
.song-img img{
    width: 42px;
     height: 42px;
    clip-path: circle();
     
 
    
}
.song-content{
    flex: 1;
    display: flex;
    flex-direction: column;
     justify-content: center;
     text-align: left;
     padding-left: 12px;
     color: #ee8a6e;
     
      
}
.title-song{
    font-size: 18px;
    font-weight: 400;

    
}
.title-about{
    font-size: 16px;
    font-weight: 300;
}